.chat-input-container {
  background-color: #eeeeee;
  border-radius: 20px;
}

.chat-input {
  background-color: #eeeeee;
  outline-width: 0;
}

.send-button {
  background-color: #7371FC;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.send-button:hover {
  background-color: #5755f9;
}

.send-icon {
  font-size: 22.5px;
  color: white;
}

.message {
  border-radius: 10px;
  max-width: 67%;
}

.user-message {
  justify-content: end;
}

.user-message .message {
  background-color: #D8D8FF;
  justify-content: end;
}

.bot-message .message {
  background-color: #eeeeee;
}

.sidebar {
  background-color: #eeeeee;
  width: 15%;
}

.new-chat-button {
  height: 7.5%;
  color: white;
  background-color: #7371FC;
}

.new-chat-button:hover {
  background-color: #5755f9;
}

.chat-session-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-session-button:hover {
  background-color: #D9D9D9;
}

.chat-selected {
  background-color: #D9D9D9;
}