.course-selection-container input {

}

.course-selection-container button {
  border-radius: 10px;
  text-align: left;
}

.course-selection-container button:hover {
  background-color: #eeeeee;
}

.course-list {
  overflow-y: scroll;
}

.input-container {
  position: relative;
}

.input-box {
  background-color: #eeeeee;
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  outline-width: 0
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust to your needs */
  transform: translateY(-50%);
  pointer-events: none; /* Prevents the icon from blocking input clicks */
}