.home-container p {
  font-size: 24px;
}

.home-container h1 {
  letter-spacing: 8px;
  font-size: 60px;
  color: #7371FC;
}

.logo {
  width: 90vw;
  height: auto;
  opacity: 5%;
  right: -20vw;
  top: -150px;
}