.sign-in-button {
  background-color: black;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Added transition */
}

.sign-in-button:hover {
  background-color: #4e4e4e;
}
